
<div class="container-fluid mt-5">
    <app-search-users></app-search-users>
    <div class="row d-flex justify-content-between">
<div class="col-md-8">
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of allUserData?.users;">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}  {{user.lastName}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>
            <td>    
                <button class="btn btn-primary" (click)="editUser(user)">Edit</button> &nbsp;
                <button class="btn btn-primary">Delete</button>
            </td>
        </tr>
    </tbody>
    </table>
</div>
<div class="col-md-4">
   <app-add-users  [userData]="singleUserData"  
   (newUserData)="onUserDataChangeEvent($event)"></app-add-users>
</div>
</div>
</div>