<h1>My Component 123</h1>
Component Title from App Component: {{title}}
<br>

{{name}}
<!-- 
<h2>{{age}}</h2>
<input type="text" [(ngModel)]="CopyText">


{{testData}}

<button (click)="myevent(CopyText)">ClickMe</button> -->

<!-- 
my component is parent
contact component is child -->
<!-- {{postData}} -->
<!-- <app-contact  [contact]="contactData" [title]="title"></app-contact> -->

<!-- 
{{price | currency:'EUR':'symbol-narrow' | uppercase | titlecase}}<br>
{{today |  date:'mediumDate' |lowercase}} -->

<!-- 

{{ today | date }}     <br>        
{{ today | date:'medium' }}  <br>    
{{ today | date:'shortTime' }}  <br>
{{ today | date:'mm:ss' }}       <br>
{{ today | date:"MMM dd, yyyy 'at' hh:mm a" }} 


{{myObj | json}}
<br>

{{mywords| titlecase | slice:0:7 | lowercase}}<br> 
{{mywords| lowercase}}<br>
{{mywords| titlecase}}<br>

{{price| percent}}<br>


{{myArray | slice:1:3 }}<br>

<br>
{{ myObservable$ | async }}<br>
{{ myPromise$ | async }}

<br>
custom Pipe<br>
{{myArray | filterByLength:8}}

{{newDob}} Age From Dob -->










